# Application HeartRateWriter

HeartRateWriter/.settings/
HeartRateWriter/target/

HeartRateWriter/.classpath
HeartRateWriter/.project


# Web Application HeartRateReader

HeartRateReader/.settings/
HeartRateReader/target/

HeartRateReader/.classpath
HeartRateReader/.project


